* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
  color: #4d4959;
}
body.lock {
  overflow: hidden;
}
main {
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;
  background: url(../img/main.jpg) center no-repeat;
  background-size: cover;
  text-align: center;
}
main header .header__logo {
  display: none;
}
main header .nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 35px;
}
main header .nav__list li {
  list-style: none;
  margin: 0 20px;
  font-weight: 700;
  font-size: 13px;
}
main header .nav__list li a {
  font-weight: 700;
  font-size: 13px;
  color: #4d4959;
  text-transform: uppercase;
  text-decoration: none;
}
main header .nav__list li img {
  margin: 0 20px;
}
main header .header__burger {
  display: none;
}
.main__text {
  background-color: #f7f7f7;
  text-align: center;
  padding: 0 15px;
}
.main__text img {
  padding: 115px 0 35px 0;
}
.main__text h3 {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 2px;
}
.main__text p {
  max-width: 1080px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 34px;
  color: #848789;
  padding-top: 35px;
  padding-bottom: 140px;
}
#sec-01 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(200px, 1fr);
  grid-auto-flow: dense;
}
#sec-01 .box-1 {
  align-items: center;
  text-align: center;
  background: url(../img/img1.png) center no-repeat;
  background-size: cover;
  grid-column: span 2;
  grid-row: span 3;
}
#sec-01 .box-1 img {
  margin-top: 241px;
}
#sec-01 .box-2 {
  grid-column: span 1;
  grid-row: span 3;
  display: grid;
  grid-auto-rows: 200px;
  grid-column: 1fr;
}
#sec-01 .box-2 .text__box {
  grid-row: span 2;
  grid-column: span 1;
}
#sec-01 .box-2 .img__box1 {
  grid-row: span 1;
  grid-column: span 1;
  background: url(../img/Img5.png) no-repeat center;
  background-size: cover;
}
#sec-01 .text__box {
  text-align: center;
  position: relative;
}
#sec-01 .text__box img {
  padding: 70px 0 25px 0;
}
#sec-01 .text__box h3 {
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
}
#sec-01 .text__box p {
  margin: 0 50px;
  line-height: 25px;
  font-size: 16px;
  text-align: justify;
  padding: 20px 10px 0 10px;
  color: #848789;
}
#sec-01 .text__box hr {
  width: 50px;
  height: 1px;
  border: none;
  background-color: #848789;
  margin: 0 auto;
  margin-top: 40px;
}
#sec-01 .box-4 {
  grid-column: span 1;
  grid-row: span 3;
  display: grid;
  grid-auto-rows: 200px;
  grid-column: 1fr;
}
#sec-01 .box-4 .text__box {
  grid-row: span 2;
  grid-column: span 1;
}
#sec-01 .box-4 .img__box2 {
  grid-row: span 1;
  grid-column: span 1;
  background: url(../img/Img6.png) no-repeat center;
  background-size: cover;
}
#sec-01 .box-5 {
  background: url(../img/img4.png) no-repeat center;
  background-size: cover;
  text-align: center;
  grid-column: span 2;
  grid-row: span 3;
}
#sec-01 .box-5 img {
  margin-top: 220px;
}
#sec-01 .box-7 {
  background: url(../img/img7.png) no-repeat center;
  background-size: cover;
  text-align: center;
  grid-column: span 1;
  grid-row: span 3;
}
#sec-01 .box-7 img {
  margin-top: 268px;
}
#sec-01 .box-8 {
  grid-column: span 1;
  grid-row: span 3;
  display: grid;
  grid-auto-rows: 200px;
  grid-column: 1fr;
}
#sec-01 .box-8 .text__box {
  grid-row: span 2;
  grid-column: span 1;
}
#sec-01 .box-8 .img__box3 {
  grid-row: span 1;
  grid-column: span 1;
  background: url(../img/Img10.png) no-repeat center;
  background-size: cover;
}
#sec-01 .box-9 {
  background: url(../img/img9.png) no-repeat center;
  background-size: cover;
  text-align: center;
  grid-column: span 1;
  grid-row: span 3;
}
.slider__list {
  background-color: #f7f7f7;
}
.slider__list .slider__item {
  padding: 120px 0 100px 0;
  text-align: center;
  outline: none;
}
.slider__list .slider__item img {
  padding-bottom: 30px;
  display: inline;
}
.slider__list .slider__item h3 {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 25px;
  letter-spacing: 2px;
}
.slider__list .slider__item h3 span {
  color: #848789;
  font-weight: 400;
}
.slider__list .slider__item p {
  color: #848789;
  font-size: 24px;
  line-height: 34px;
  max-width: 1065px;
  padding: 0 10px;
  margin: 0 auto;
}
.slider__list .slick-dots {
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
}
.slider__list .slick-dots li {
  margin: 0 5px;
  list-style: none;
}
.slider__list .slick-dots li button {
  font-size: 0;
  outline: none;
  border: 1px solid #848789;
  background-color: #f7f7f7;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.slider__list .slick-dots li.slick-active button {
  background-color: #848789;
}
#sec-02 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 268px;
  grid-auto-flow: dense;
}
#sec-02 .sec-02-box-1 {
  background: url(../img/sec-02-1.png) no-repeat center;
  background-size: cover;
  text-align: center;
  grid-column: span 1;
  grid-row: span 1;
}
#sec-02 .sec-02-box-2 {
  background: url(../img/sec-02-2.png) no-repeat center;
  background-size: cover;
  text-align: center;
  grid-column: span 1;
  grid-row: span 1;
}
#sec-02 .sec-02-box-3 {
  background: url(../img/sec-02-4.png) no-repeat center;
  background-size: cover;
  text-align: center;
  grid-column: span 1;
  grid-row: span 2;
}
#sec-02 .sec-02-box-4 {
  background: url(../img/sec-02-5.png) no-repeat center;
  background-size: cover;
  text-align: center;
  grid-column: span 1;
  grid-row: span 2;
}
#sec-02 .sec-02-box-5 {
  background: url(../img/sec-02-6.png) no-repeat center;
  background-size: cover;
  text-align: center;
  grid-column: span 2;
  grid-row: span 1;
}
#sec-02 .sec-02-box-6 {
  background: url(../img/sec-02-3.png) no-repeat center;
  background-size: cover;
  text-align: center;
  grid-column: span 2;
  grid-row: span 1;
}
#sec-02 .sec-02-box-7 {
  background: url(../img/sec-02-7.png) no-repeat center;
  background-size: cover;
  text-align: center;
  grid-column: span 1;
  grid-row: span 1;
}
#sec-02 .sec-02-box-8 {
  background: url(../img/sec-02-8.png) no-repeat center;
  background-size: cover;
  grid-column: span 1;
  grid-row: span 1;
}
#sec-02 .sec-02-box-1 a,
#sec-02 .sec-02-box-2 a,
#sec-02 .sec-02-box-3 a,
#sec-02 .sec-02-box-4 a,
#sec-02 .sec-02-box-5 a,
#sec-02 .sec-02-box-6 a,
#sec-02 .sec-02-box-7 a,
#sec-02 .sec-02-box-8 a {
  display: none;
}
#sec-02 .sec-02-box-1.hoverred a,
#sec-02 .sec-02-box-2.hoverred a,
#sec-02 .sec-02-box-3.hoverred a,
#sec-02 .sec-02-box-4.hoverred a,
#sec-02 .sec-02-box-5.hoverred a,
#sec-02 .sec-02-box-6.hoverred a,
#sec-02 .sec-02-box-7.hoverred a,
#sec-02 .sec-02-box-8.hoverred a {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-image: url(../img/sec-02-link-bg.png);
  background-size: cover;
}
.shop {
  background-color: #282f35;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shop a {
  display: flex;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  width: 300px;
  height: 50px;
  border: 1px solid #94979a;
  letter-spacing: 2px;
  justify-content: center;
  align-items: center;
}
.input {
  display: flex;
  padding: 110px 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.input h3 {
  padding: 60px 0 30px 0;
  color: #848789;
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
}
.input .input__item {
  max-width: 534px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input .input__item input {
  width: 400px;
  height: 70px;
  color: #929292;
  font-size: 20px;
  font-style: italic;
  border: 1px solid #929292;
  outline: none;
  padding-left: 10px;
}
.input .input__item button {
  width: 125px;
  height: 70px;
  background-color: #64c29e;
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 5px;
}
footer {
  background-color: #f7f7f7;
}
footer .footer__conteiner {
  height: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1120px;
  padding: 0 10px;
  margin: 0 auto;
}
footer .footer__conteiner .footer__item1 p {
  font-size: 14px;
  line-height: 18px;
  font-style: italic;
  color: #848789;
}
footer .footer__conteiner .footer__item1 p span {
  font-size: 16px;
  line-height: 18px;
  font-style: normal;
  font-weight: bold;
}
footer .footer__conteiner .footer__item1 .footer__item2 a {
  display: inline-block;
  margin: 0 5px;
}
